fieldset { 
    padding:0; 
    border:0; 
    margin-top:25px; 
}

h1 { 
    margin: .6em 0; 
}

span#ui-id-1.ui-dialog-title{
    font-size: 0.8em; 
}

div#users-contain { 
    width: 250px;    
    margin: 20px 0; 
}

div#dialog-form.ui-dialog-content.ui-widget-content{
    overflow: hidden;
    height: auto;
}

div#users-contain table {
    margin: 1em 0; 
    border-collapse: collapse; 
    width: 100%; 
}

div#users-contain table td, div#users-contain table th { 
    border: 1px solid #eee; 
    padding: .6em 10px; 
    text-align: left; 
}

.ui-dialog .ui-state-error { 
    padding: .3em; 
}

.validateTips {
    border: 1px solid transparent; 
    padding: 0.3em; 
}

.ui-front{
  z-index: 300;
}

#dialog-confirm{
    
}

#create-user{
    margin-top:20px;
}

html > body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable > div#dialog-form.ui-dialog-content.ui-widget-content > form > fieldset > input,
html > body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable > div#dialog-form.ui-dialog-content.ui-widget-content > form > fieldset > textArea{
    margin-bottom:5px;
    padding:8px;
    
}