/* 
    Created on : 02-ene-2015, 2:19:50
    Author     : jbgae_000
*/

a {  outline: none; }

.ui-content{
    /*margin-top:2%;*/
    margin-left:2%;
    margin-right:1%;
}

#bars{
    margin-top:9px;
}

.message{
    min-height: 12px;
}

div.message.error>p{
    color:white;
}

.message.success, .message.error{
    color:white;
    text-shadow: none;
    padding:5px;
    margin-bottom: 8px;
}

.success{
    background-color:#009C0C;
}

.error{
    background-color:#d11;
}

div#mypanel>div>ul>li>a:visited,
div#mypanel>div>ul>li>a:hover,
div#mypanel>div>ul>li>a:active{
    color:white;
}

/*LISTADO*/
ul.list>li>a>img{
    float:left;
    height:80px;
    margin-right:10px;    
}

div#main.panel.y-scroll>ul.list>li.divider>span.ui-li-count,
div#main.panel.y-scroll>ul.list>li>a>p.ui-li-aside{
    float:right;
}

div#main.panel.y-scroll>ul.list>li>a>p.ui-li-aside{
    margin-right: 25px;
    margin-top:-80px;
}

html>body>div#afui>div#content>div#main>div#tabla>div>div>label,
html > body > div#afui > div#content.hasMenu.splitview > div#main.panel.y-scroll > div#tabla > div.dataTables_wrapper.no-footer > div.dataTables_filter > label{
    width:100%;
}

html>body>div#afui>div#content>div#main>div#tabla>div>div>label>select{
    padding:0px;
    height:30px;
    width:45px;
    //display:inline;
}

html>body>div#afui>div#content>div#main>div#tabla>div.dataTables_wrapper.no-footer>div.dataTables_filter>label>input{
    height:30px;
    padding:0px;
    padding-left:15px;
    
}

tbody>tr>td>img{
    height:60px;
}

div#tabla > div.dataTables_wrapper.no-footer > table.display.dataTable.no-footer > tbody > tr > td > a{
    text-decoration: none;
}

form#incidenteForm.form>label{
    text-align: left;
    font-weight: bold;
}
